@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Medium.woff2') format('woff2'),
        url('fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-Book.woff2') format('woff2'),
        url('fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Black.woff2') format('woff2'),
        url('fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularSpotifyText-LightItalic.woff2') format('woff2'),
        url('fonts/CircularSpotifyText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularSpotifyText-Light.woff2') format('woff2'),
        url('fonts/CircularSpotifyText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-Bold.woff2') format('woff2'),
        url('fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

